@import "../../modules/_base.scss";
/*Action Block Start*/
.b-action{
    padding:rem(24px) 0;
    @include linear-gradient(to bottom, $primary, $primary-light);
    color:#fff;
}

.b-action__form{
    padding:rem(24px) rem(10px);
    border:1px solid #fff;
    border-radius:rem(20px);
    @include linear-gradient(to bottom, $primary, $primary-light);

    .g-styled-btn{
        margin:0;
    }
}

.b-action__title{
    display:block;
    margin-bottom:rem(12px);
    @include font-size(32px);
    line-height:1.1;
    font-weight:500;
}
.b-action__subtitle{
    margin-bottom:rem(12px);
}
/*Action Block End*/