@import "base";
/* Buttons */
.g-btn{
    display: inline-block;
    height:rem(38px);
    padding:0 rem(8px);
    color:$primary-light;
    text-align: center;
    @include font-size(11px);
    line-height:rem(38px);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: rgba(#fff, .1);
    border-radius:rem(17px);
    border: 1px solid $primary-light;
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:$primary;
        border-color:$primary;
        outline:0;
    }
}

.g-btn--red{
    color:#fff;
    background-color:$primary-action;
    border-color:$primary-action;

    &:hover,
    &:active,
    &:focus{
        color:#fff;
        background-color:darken($primary-action, 5%);
        border-color:darken($primary-action, 5%);
    }
}

.g-styled-btn{
    display: inline-block;
    height:rem(56px);
    padding:0 rem(20px);
    margin:rem(12px) 0;
    color:#3d322d;
    text-align: center;
    @include font-size(16px);
    font-weight:500;
    line-height:rem(56px);
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    @include linear-gradient(to bottom, #fbe408, #fbb808);
    border:1px solid #fbe408;
    border-bottom-color:lighten(#fbb808, 15%);
    border-radius:rem(28px);
    cursor: pointer;
    box-sizing: border-box;

    &:hover,
    &:focus,
    &:active{
        color:#3d322d;
        @include linear-gradient(to top, #fbe408, #fbb808);
        outline:0;
    }
}
